body {
}

table {
    background-color: gray;
    font-family: 'Times New Roman', serif;
    font-size: 1em;
    margin: auto;
}

td {
    background-color:gray;
    text-align: center;
}

input {
        background-color:gray;
}
