body {
    background-color: #808080;
}

body, header, section, footer, article, h1, h2, h3, h4, h5, h6, input, button, label, p, fieldset, nav, ul, li, a, span, strong, em {
    margin: 0;
    padding: 0;
    border: 0;
}

h2, p, span, label {
    font-family: Cambria;
}
    body section {
        margin: 30px;
        background-color: rgba(44,44,44,1);
        width: 620px;
        border:1px solid #ada160;
        border-radius:1px;
    }

        body section header {
            background-color: #393737;
            color: white;
        }

            body section header img {
                width: 40px;
                margin-top: 20px;
                margin-left: 20px;
                float: left;
                padding-right:15px;
            }

            body section header ul {
                float: left;
            }

                body section header ul li {
                    display: inline-block;
                    list-style: none;
                    padding-top:25px;
                    padding-right:12px;
                }

                    body section header ul li label {
                        font-size: 20px;
                    }

                    body section header ul li input[type="text"] {
                        padding: 4px;
                    }

                    body section header input[type="image"] {
                        width:50px;
                        padding-top:20px;
                        float:right;
                        padding-right:18px;
                        padding-bottom:15px;
                    }

        body section article {
            clear: both;
            background-color:#565252;
        }

        body section article h2 {
            color:#ffd800;
            padding:15px;
        }

        body section article p {
            color:#a9a9a9;
            padding-left:15px;
            padding-bottom:15px;
            padding-right:15px;
        }

        body section article span {
            color:white;
        }
