body, header, div, section, footer, article, h1, h2, h3, h4, h5, h6, input, button, label, p, fieldset, nav, ul, li, a, span, strong, em {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: black;
}

    body div.main {
        position: absolute;
        top: 0px;
        background-color: #061f31;
        width: 850px;
        height: 420px;
    }

    body div.head {
        width: 700px;
        margin-top: 20px;
    }

        body div.head ul li {
            display: inline;
            padding: 12px;
            margin-right:4px;
            background-color: #5e4c4c;
            color: #8a8d9c;
            font-size:18px;
        }

            body div.head ul li:hover {
                background-color: #061f31;
                color: white;
            }

    body div.left {
        position: absolute;
        left: 0px;
        top: 65px;
        background-color: #061f31;
        width: 300px;
        height: 350px;
    }

        body div.left ul li {
            list-style: none;
            padding-left: 10px;
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 17px;
            border-top: 1px solid #8a8d9c;
            color: #8a8d9c;
        }

            body div.left ul li:hover {
                background-color: #49aa93;
                color: white;
            }

                body div.left ul li:hover a {
                    color: white;
                }

        body div.left ul a {
            text-decoration: none;
            color: #8a8d9c;
        }

        body div.right img {
            position:absolute;
            left: 300px;
            top: 65px;
            height:300px;
        }