body ul li {
    list-style: none;
}

    body ul li a {
        text-decoration: none;
        color: black;
    }

        body ul li a:hover {
            text-decoration: underline;
            color: black;
        }

    body ul li:hover > a + ul {
        display: block;
        margin: 0;
        padding: 10px;
    }

    body ul li ul li a {
        color: silver;
    }

li:not(:hover) li {
    display: none;
}
