body {
    background-color: darkslategrey;
}

th {
    color: silver;
    text-align: left;
    font: 20px arial,sans-serif;
}

.firstcolumn {
    color: white;
    width: 120px;
}

#red {
    color: red;
}

#orange {
    color: orange;
}

.secondc {
    color: silver;
}

#somecol {
    color: #FFFFCC;
}
